* {
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
}

body {
  overflow: overlay;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.diapositiva {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diapositiva1{
  display: flex;
  grid-gap: 30vw;
}

#descripcion{
  display: block;
  width: 35vw;
  margin-top: 10px;
}

#one{
  background-image: url(/img/fondo.png);
}

#two{
  background-color: green;
}

#three{
  background-color: blue;
}

#four{

}

#five{
  background-image: url(/img/fondo.png);
}
